<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exlusice community
    for developres and entrepenrues to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure rem recusandae obcaecati ex inventore debitis fugit quisquam accusamus harum nesciunt. Facilis, asperiores nesciunt temporibus tempora deleniti omnis maxime neque explicabo.</p>
</div>
